$canvas-base-color: #eeeeee;
$canvas-text-color: #000000;

$panel-header-base-color: #fb7322;
$panel-header-text-color: #ffffff;
$panel-border-color:  #fb7322;

$window-header-base-color: #004584;
$window-header-text-color: #ffffff;
$window-border-color: #fb7322;

$button-base-color: $canvas-base-color;
$button-text-color: $canvas-text-color;

$tab-base-color: $canvas-base-color;
$tab-text-color: $canvas-text-color;
$tab-border-color: #ccc;

$select-base-color: #004584;
$select-text-color: #ffffff;
