**/Clean System Files
Examples/**/*-data
Examples/**/*-sapl
Examples/**/*-www
Examples/**/*.prj
Examples/**/*.exe
Tests/**/*-data
Tests/**/*-sapl
Tests/**/*-www
Tests/**/*.prj
Tests/**/*.exe
Tools/**/*-data
Tools/**/*-sapl
Tools/**/*-www
Tools/**/*.prj
Tools/**/*.exe
**/.sass-cache
