[submodule "Dependencies/clean-sapl"]
	path = Dependencies/clean-sapl
	url = https://gitlab.science.ru.nl/clean-and-itasks/clean-sapl.git
	branch = hierarchical
[submodule "Dependencies/clean-platform"]
	path = Dependencies/clean-platform
	url = https://gitlab.science.ru.nl/clean-and-itasks/clean-platform.git
