/* Styles for unlayouted content */
.itasks-raw-record
	, .itasks-raw-cons
	, .itasks-raw-var-cons
	, .itasks-raw-interact
	, .itasks-raw-step
	, .itasks-raw-parallel
	, .itasks-raw-form
	, .itasks-raw-form-item
{
		border: dashed 2px #ccc;
	> .itasks-header {
		color: #fff;
		padding: 2px;
	}
}
.itasks-raw-form {
	border: solid 2px #f33;
	background: #fee;
	> .itasks-header {
		background: #f33;
	}
}
.itasks-raw-form-item {
	border: dashed 2px #f33;
	border-radius: 5px;
	> .itasks-header {
		background: #f33;
	}
}
.itasks-raw-record {
	border: solid 2px #f33;
	background: #fee;
	> .itasks-header {
		background: #f33;
	}
}
.itasks-raw-cons {
	border: solid 2px #ff3;
	background: #ffe;
	> .itasks-header {
		background: #ff3;
	}
}
.itasks-raw-var-cons {
	border: solid 2px #ff3;
	background: #ffe;
	> .itasks-header {
		background: #ff3;
	}
}
.itasks-raw-interact {
	border: solid 2px #f3f;
	background: #fef;
	> .itasks-header {
		background: #f3f;
	}
}
.itasks-raw-step {
	border: solid 2px #33f;
	background: #eef;
	> .itasks-header {
		background: #33f;
	}
}
.itasks-raw-parallel {
	border: solid 2px #3f3;
	background: #efe;
	> .itasks-header {
		background: #3f3;
	}
}
.itasks-raw-empty {
	border: dashed 2px #eee;
	color: #ccc;
	font-style: italic;
}
.itasks-raw-action {
	border: solid 2px #000;
	padding: 5px 20px;
	border-radius: 5px;	
	color: #fff;
	font-weight: bold;
}
.itasks-raw-action-enabled {
	background-color: #0f0;
}
.itasks-raw-action-disabled {
	background-color: #f00;
}

