.#{$prefix}icon {
    width: 16px;
    height: 16px;
}
.#{$prefix}label {
	width: 100px;
	padding: 5px;
	text-overflow: elipsis;
}
.#{$prefix}button {
	font-size: 8pt;
   	padding: 3px;
    background: linear-gradient($button-base-color-lighter, $button-base-color);
    background-repeat: none;
    border: 1px solid $button-base-color-darker;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $button-text-color;
    flex-shrink: 0;

    &:hover {
        border-color: $button-base-color-darkest;
    }

    &:active {
        background: $button-base-color-lighter;
    }
}
.#{$prefix}button-label {
    margin: 0 4px;
    height: 16px;
    cursor: default;
}
.#{$prefix}button-icon {
    width: 16px;
    height: 16px;
}
.#{$prefix}button-disabled {
    color: $button-text-color-lighter;
    background: linear-gradient($button-base-color-lighter, $button-base-color-darker);
}
.#{$prefix}button-disabled:hover {
    border-color: $button-base-color-darkest;
}
.#{$prefix}button-disabled .#{$prefix}button-icon {
    opacity: 0.5;
}
