.itasks-icon {
    width: 16px;
    height: 16px;
}
.itasks-label {
	width: 100px;
	padding: 5px;
	text-overflow: elipsis;
}
.itasks-button {
	font-size: 8pt;
   	padding: 3px;
    background: linear-gradient($button-base-color-lighter, $button-base-color);
    background-repeat: none;
    border: 1px solid $button-base-color-darker;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $button-text-color;
    flex-shrink: 0;
}
.itasks-button:hover {
	border-color: $button-base-color-darkest;
}
.itasks-button:active {
	background: $button-base-color-lighter;
}

.itasks-button-label {
    margin: 0 4px;
    height: 16px;
    cursor: default;
}
.itasks-button-icon {
    width: 16px;
    height: 16px;
}
.itasks-button-disabled {
    color: $button-text-color-lighter;
    background: linear-gradient($button-base-color-lighter, $button-base-color-darker);
}
.itasks-button-disabled:hover {
    border-color: $button-base-color-darkest;
}
.itasks-button-disabled .itasks-button-icon {
    opacity: 0.5;
}
