div.#{$prefix}loader {
	display: flex;
	font-size: 16pt;
	font-style: italic;
	text-align: center;
}
div.#{$prefix}loader-spinner {
	width: 40px;
	height: 40px;
	border: 10px solid;
	border-radius: 100%;
	border-color: $panel-border-color $panel-border-color $panel-border-color $select-base-color;
	margin: auto auto;
	animation: #{$prefix}rotation .8s infinite linear;
}
@keyframes #{$prefix}rotation {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
div.#{$prefix}exception {
	text-align: center;
}

/* Sizing children of vertical containers */
.#{$prefix}viewport > .#{$prefix}flex-width,
.#{$prefix}panel > .#{$prefix}inner > .#{$prefix}flex-width,
.#{$prefix}window > .#{$prefix}inner > .#{$prefix}flex-width,
.#{$prefix}container > .#{$prefix}flex-width {
	align-self: stretch;
}
.#{$prefix}viewport > .#{$prefix}flex-height,
.#{$prefix}panel > .#{$prefix}inner > .#{$prefix}flex-height,
.#{$prefix}window > .#{$prefix}inner > .#{$prefix}flex-height,
.#{$prefix}container > .#{$prefix}flex-height {
	flex: 1;
}
.#{$prefix}viewport > .#{$prefix}wrap-height,
.#{$prefix}panel > .#{$prefix}inner > .#{$prefix}wrap-height,
.#{$prefix}window > .#{$prefix}inner > .#{$prefix}wrap-height,
.#{$prefix}container > .#{$prefix}wrap-height {
	flex-shrink: 0;
	flex-basis: auto;
}

/* Sizing children of horizontal containers */
.#{$prefix}horizontal-container > .#{$prefix}flex-width,
.#{$prefix}form-item > .#{$prefix}flex-width,
.#{$prefix}toolbar > .#{$prefix}flex-width,
.#{$prefix}buttonbar > .#{$prefix}flex-width,
.#{$prefix}cons > .#{$prefix}flex-width,
.#{$prefix}var-cons > .#{$prefix}flex-width,
.#{$prefix}listitem > .#{$prefix}flex-width,
.#{$prefix}listitem-controls > .#{$prefix}flex-width {
	flex: 1;
}
.#{$prefix}horizontal-container > .#{$prefix}flex-height,
.#{$prefix}form-item > .#{$prefix}flex-height,
.#{$prefix}toolbar > .#{$prefix}flex-height,
.#{$prefix}buttonbar > .#{$prefix}flex-height,
.#{$prefix}cons > .#{$prefix}flex-height,
.#{$prefix}var-cons > .#{$prefix}flex-height,
.#{$prefix}listitem > .#{$prefix}flex-height,
.#{$prefix}listitem-controls > .#{$prefix}flex-height {
	align-self: stretch;
}
.#{$prefix}horizontal-container > .#{$prefix}wrap-width,
.#{$prefix}form-item > .#{$prefix}wrap-width,
.#{$prefix}toolbar > .#{$prefix}wrap-width,
.#{$prefix}buttonbar > .#{$prefix}wrap-width,
.#{$prefix}cons > .#{$prefix}wrap-width,
.#{$prefix}var-cons > .#{$prefix}wrap-width,
.#{$prefix}listitem > .#{$prefix}wrap-width,
.#{$prefix}listitem-controls > .#{$prefix}wrap-width {
	flex-shrink: 0;
	flex-basis: auto;
}

