*.itasks-viewport .icon-help {
	background-image: url('/css/icons/help.png');
}
*.itasks-viewport .icon-info {
	background-image: url('/css/icons/information.png') !important;
}
*.itasks-viewport .icon-valid {
	background-image: url('/css/icons/accept.png') !important;
}
*.itasks-viewport .icon-warning {
	background-image: url('/css/icons/warning.png') !important;
}
*.itasks-viewport .icon-invalid {
	background-image: url('/css/icons/exclamation.png') !important;
}
*.itasks-viewport .icon-continue {
	background-image: url('/css/icons/arrow_right.png');
}
*.itasks-viewport .icon-login, *.itasks-viewport .icon-log-in {
	background-image: url('/css/icons/tick.png');
}
*.itasks-viewport .icon-logout, *.itasks-viewport .icon-log-out {
	background-image: url('/css/icons/door_in.png');
}
*.itasks-viewport .icon-view {
	background-image: url('/css/icons/page.png') !important;
}
*.itasks-viewport .icon-edit {
	background-image: url('/css/icons/pencil.png') !important;
}
*.itasks-viewport .icon-delete {
	background-image: url('/css/icons/trash.png') !important;
}
*.itasks-viewport .icon-refresh {
	background-image: url('/css/icons/refresh.png') !important;
}
*.itasks-viewport .icon-up {
	background-image: url('/css/icons/move-up.png') !important;
}
*.itasks-viewport .icon-down {
	background-image: url('/css/icons/move-down.png') !important;
}
*.itasks-viewport .icon-add, *.itasks-viewport .icon-new {
	background-image: url('/css/icons/add.png') !important;
}
*.itasks-viewport .icon-remove {
	background-image: url('/css/icons/delete.png') !important;
}
*.itasks-viewport .icon-ok {
	background-image: url('/css/icons/tick.png') !important;
}
*.itasks-viewport .icon-cancel {
	background-image: url('/css/icons/cancel.png') !important;
}
*.itasks-viewport .icon-open {
	background-image: url('/css/icons/document-open.png') !important;
}
*.itasks-viewport .icon-save {
	background-image: url('/css/icons/document-save.png') !important;
}
*.itasks-viewport .icon-document {
	background-image: url('/css/icons/document.png') !important;
}
*.itasks-viewport .icon-document-error {
	background-image: url('/css/icons/document-error.png') !important;
}
*.itasks-viewport .icon-folder {
	background-image: url('/css/icons/folder.png') !important;
}
*.itasks-viewport .icon-close {
	background-image: url('/css/icons/cancel.png') !important;
}
*.itasks-viewport .icon-previous {
	background-image: url('/css/icons/arrow_left.png') !important;
}
*.itasks-viewport .icon-next {
	background-image: url('/css/icons/arrow_right.png') !important;
}
*.itasks-viewport .icon-preferences {
	background-image: url('/css/icons/cog.png') !important;
}
*.itasks-viewport .icon-finish {
	background-image: url('/css/icons/flag.png') !important;
}
*.itasks-viewport .icon-fullscreen {
	background-image: url('/css/icons/fullscreen.png') !important;
}
