@import "options-default.scss";
$panel-header-base-color: #fb7322;
$panel-header-text-color: #fff;
$panel-border-color: #fb7322;

$window-header-base-color: #004584;
$window-header-text-color: #fff;
$window-border-color: #fb7322;

$toolbar-base-color: #fb7322;

$select-base-color: #004584;

//DERIVED
$panel-header-base-color-lighter: #fc9b61;
$panel-header-base-color-lighter2: #fdb286;
$panel-header-base-color-darker: #b44503;
$panel-header-base-color-darker2: #e65804;
$window-header-base-color-lighter: #0066c4;
$toolbar-base-color-lighter: #fb8036;
$toolbar-base-color-darker: #d95404;
$toolbar-base-color-darker2: #fb6309;
$choicegrid-up-color: #fb833b;
$choicegrid-down-color: #fca36d;

@import "main.scss";
