[data-tooltip] {
        position: relative;
        display: inline-block;
}
[data-tooltip]:before, [data-tooltip]:after {
    position: absolute;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    transition: 0.3s ease;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
    visibility: visible;
    opacity: 1;
}
[data-tooltip]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
[data-tooltip]:after {
    content: attr(data-tooltip);
    background: #ccc;
    color: #000;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
[data-tooltip]:before {
  border-left-color: #ccc;
  margin-right: -12px;
  margin-bottom: -6px;
}
[data-tooltip]:after {
  margin-bottom: -14px;
}
[data-tooltip]:before, [data-tooltip]:after {
  right: 100%;
  bottom: 50%;
}
[data-tooltip]:hover:after, [data-tooltip]:hover:before, [data-tooltip]:focus:after, [data-tooltip]:focus:before {
  transform: translateX(-8px);
}
