$canvas-base-color: #eee;
$canvas-text-color: #000;

$panel-header-base-color: #ccc;
$panel-header-text-color: #000;
$panel-border-color: #ccc;

$window-header-base-color: #ccc;
$window-header-text-color: #000;
$window-border-color: #ccc;

$button-base-color: $canvas-base-color;
$button-text-color: $canvas-text-color;

$tab-base-color: $canvas-base-color;
$tab-text-color: $canvas-text-color;
$tab-border-color: #ccc;

$select-base-color: #eee;
$select-text-color: #000;
