/*
 SASS-Themable stylesheet for iTasks javascript UI library
 You can customize this to easily create branded iTask applications.
*/
@import "options.scss";
@import "colors.scss";

*.#{$prefix}viewport {

	margin: 0;
    overflow: auto;
    font-family: tahoma, arial, verdana, sans-serif;
	text-align: left;
	font-weight: normal;

	@import "icons.scss";
	@import "tooltip.scss";

	div, input, td, th, select {

		@if $touchscreen {
			font-size: 16pt;
		}
		@else {
			font-size: 9pt;
	    }
	}
}
div.#{$prefix}loader {
	font-size: 16pt;
	font-style: italic;
	text-align: center;
}
.#{$prefix}vcontainer, .#{$prefix}hcontainer {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}
.#{$prefix}vcontainer {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.#{$prefix}hcontainer {
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}
.#{$prefix}wrapping-horizontal {
	flex-shrink: 0;
	min-width: fit-content;
	* {
		min-width: fit-content;
	}
}
.#{$prefix}wrapping-vertical {
	flex-shrink: 0;
	min-height: fit-content;
	* {
		min-height: fit-content;
	}
}
/* Additional components */
@import "itasks-components-raw.scss";
@import "itasks-components-container.scss";
@import "itasks-components-form.scss";
@import "itasks-components-display.scss";
@import "itasks-components-selection.scss";
@import "itasks-components-action.scss";
@import "itasks-components-misc.scss";
