.error {
	font-weight: bold;
	color: red;
}
button.icon-refresh {
	background-image: url('../img/icons/refresh.png');
}
button.icon-thread-table {
	background-image: url('../img/icons/table_lightning.png');
}
button.icon-process-table {
	background-image: url('../img/icons/table_gear.png');
}
button.icon-task-tree {
	background-image: url('../img/icons/chart_organisation.png');
}
.icon-debug {
	background-image: url('../img/icons/bug.png');
}
.icon-currentwork {
	background-image: url('../img/icons/report_edit.png');
}
.icon-newwork {
	background-image: url('../img/icons/report_add.png');
}
.icon-editTask {
	background-image: url('../img/icons/page_edit.png');
}
.icon-andTask {
	background-image: url('../img/icons/sitemap.png');
}
.icon-orTask {
	background-image: url('../img/icons/sitemap.png');
}
.icon-conditionTask {
	background-image: url('../img/icons/sitemap.png');
}
.icon-timeTask {
	background-image: url('../img/icons/time.png');
}
.icon-systemTask {
	background-image: url('../img/icons/cog.png');
}
.icon-finishedTask {
	background-image: url('../img/icons/tick.png');
}

div.loginWindow {
	padding: 5px;
}

#northpanel .x-panel-body {
	background: #3a81ad url('../img/body.png') top repeat-x;
}
#northpanel #logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 40px;
	background: url('../img/itasks.png');
}
#northpanel #user {
	position: absolute;
	top: 15px;
	left: 100%;
	margin-left: -410px;
	width: 400px;
	color: #fff;
	text-align: right;
}
#northpanel #user a {
	color: #fff;
	text-decoration: none;
}
#northpanel #user a:hover {
	text-decoration: underline;
}
#leftpanel {
	background-color: #ccc;
	background-image: url('../img/tab.png');
	background-position: top;
	background-repeat: repeat-x;
}

/* WORK LIST PANEL STYLES */
div.treegrid {
	position: absolute;
	width: 16px;
	height: 18px;
}
div.treegrid-empty {
}
div.treegrid-line {
	background: url('../ext/resources/images/default/tree/elbow-line.gif') no-repeat;
}
div.treegrid-middle {
	background: url('../ext/resources/images/default/tree/elbow.gif') no-repeat;
}
div.treegrid-last {
	background: url('../ext/resources/images/default/tree/elbow-end.gif') no-repeat;
}
div.treegrid-icon {
	background-position: 0 2px;
	background-repeat: no-repeat;
}
div.treegrid-label {
	position: absolute;
	height: 16px;
	padding: 2px 0px 0px 5px;
}


/* WORK TAB PANEL STYLES */

div.worktab-container .x-panel-body, div.worktab-container .x-tab-panel-body {
	background: #ccc url('../img/tab.png') top repeat-x;
}
div.worktab-container form {
	display: inline;
}
div.worktab-header {
	border: 1px solid #ccc;
	padding: 10px;

	background: #999 url('../img/worktab-header.png') top repeat-x;
}
div.worktab-header-indicator {
	position: absolute;
	top: 20px;
	left: 100%;
	margin-left: -42px;
	width: 32px;
	height: 32px;
	
	background: url('../img/loading.gif') no-repeat;
	display: none;
}
div.worktab-header table {
	width: 100%;
}

div.worktab-header th {
	width: 10%;
	color: #fff;
	font-weight: bold;
}
div.worktab-header td {
	width: 40%;
	color: #fff;
}
div.worktab-content {	
	padding: 10px;	
}
div.worktab form {
	display: inline;
}
div.worktab .EditBox {
		font-family: Arial, Helvetica, sans-serif;
}
div.worktab .DisplayBox {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: white;
	background-color: #32729D;
}
div.worktab .Label {
	color: yellow;
	font-weight: bold;
}
div.worktab .MainLabel {
	color: red;
	font-weight: bold;
}
div.worktab .HighLight {
	color: aqua;
	font-weight: bold;
}
div.worktab .LowLight {
	color: aqua;
}
div.worktab .Trace {
	color: silver;
	font-weight: bold;
}

/* DEBUG STYLES */
.debug-button button.x-btn-text {
	width: 150px;
	overflow: visible;
	text-align: left;
	background-position: 0 2px;
	background-repeat: no-repeat;
	padding-left:20px;
	padding-top:3px;
	padding-bottom:2px;
    padding-right:0;
}

div.trace {
	border: #ccc 2px solid;
	padding: 5px;
	margin-bottom: 5px;
}
div.trace h2 {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}
div.trace table {
	width: 100%;
}
div.trace th {
	background-color: #ccc;
	font-weight: bold;
	text-align: left;
	padding: 2px;
}
/* WELCOME SCREEN STYLES */
#welcome {
	background: url('../img/welcome/bg.png') top repeat-x;
	height: 400px;
}
#welcome-logo {
	position: absolute;
	top: 0px;
	left: 100%;
	margin-left: -243px;
	width: 243px;
	height: 197px;
	background: url('../img/welcome/logo.png') no-repeat;
}
#welcome-text {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 243px;
	height: 65px;
	background: url('../img/welcome/text.png') no-repeat;
}
#welcome-content {
	position: absolute;
	top: 100px;
	left: 20px;
	
	width: 500px;
}
#welcome-content h2 {
	font-size: 16px;
	margin: 10px 0px 5px 0px;
}
#welcome-content a {
	font-weight: bold;
	color: #f90;
	text-decoration: none;
}