.error {
	font-weight: bold;
	color: red;
}
button.icon-refresh {
	background-image: url('../img/icons/refresh.png');
}
button.icon-thread-table {
	background-image: url('../img/icons/table_lightning.png');
}
button.icon-process-table {
	background-image: url('../img/icons/table_gear.png');
}
button.icon-task-tree {
	background-image: url('../img/icons/chart_organisation.png');
}
button.icon-states {
	background-image: url('../img/icons/table_gear.png');
}
button.icon-events {
	background-image: url('../img/icons/table_lightning.png');
}
button.icon-ok, button.icon-yes {
	background-image: url('../img/icons/tick.png');
}
button.icon-no {
	background-image: url('../img/icons/cancel.png');
}
.icon-debug {
	background-image: url('../img/icons/bug.png');
}
.icon-currentwork {
	background-image: url('../img/icons/report_edit.png');
}
.icon-newwork {
	background-image: url('../img/icons/report_add.png');
}
.icon-editTask {
	background-image: url('../img/icons/page_edit.png');
}
.icon-andTask {
	background-image: url('../img/icons/sitemap.png');
}
.icon-orTask {
	background-image: url('../img/icons/sitemap.png');
}
.icon-conditionTask {
	background-image: url('../img/icons/sitemap.png');
}
.icon-timeTask {
	background-image: url('../img/icons/time.png');
}
.icon-systemTask {
	background-image: url('../img/icons/cog.png');
}
.icon-finishedTask {
	background-image: url('../img/icons/tick.png');
}
.icon-waiting {
	background-image: url('../img/icons/hourglass.png');
}
div.loginWindow {
	padding: 5px;
}

#northpanel .x-panel-body {
	background: #3a81ad url('../img/body.png') top repeat-x;
}
#northpanel #logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 40px;
	background: url('../img/itasks.png');
}
#northpanel #user {
	position: absolute;
	top: 15px;
	left: 100%;
	margin-left: -410px;
	width: 400px;
	color: #fff;
	text-align: right;
}
#northpanel #user a {
	color: #fff;
	text-decoration: none;
}
#northpanel #user a:hover {
	text-decoration: underline;
}

/* WORK LIST PANEL STYLES */
div.treegrid {
	position: absolute;
	width: 16px;
	height: 18px;
}
div.treegrid-empty {
}
div.treegrid-line {
	background: url('../ext3/resources/images/default/tree/elbow-line.gif') no-repeat;
}
div.treegrid-middle {
	background: url('../ext3/resources/images/default/tree/elbow.gif') no-repeat;
}
div.treegrid-last {
	background: url('../ext3/resources/images/default/tree/elbow-end.gif') no-repeat;
}
div.treegrid-icon {
	background-position: 0 2px;
	background-repeat: no-repeat;
}
div.treegrid-label {
	position: absolute;
	height: 16px;
	padding: 2px 0px 0px 5px;
}


/* WORK TAB PANEL STYLES */
div.worktab-container .x-panel-body, div.worktab-container .x-tab-panel-body {
	background: #eee;
}
div.worktab-container form {
	display: inline;
}
div.worktab-header {
	padding: 5px 0px 0px 10px;
	color: #fff;
	background: url('../img/tab-header.png') top;
}
div.worktab-header-indicator {
	position: absolute;
	top: 10px;
	left: 100%;
	margin-left: -42px;
	width: 32px;
	height: 32px;
	
	background: url('../img/loading.gif') no-repeat;
	display: none;
}
div.worktab-header table {
	width: 100%;
}
div.worktab-header th {
	width: 100px;
	font-weight: bold;
}
div.worktab-content {	
	padding: 10px;	
}
div.worktab form {
	display: inline;
}

table.form-table th {
	vertical-align: top;
}

div.it-task-overview {
	border: solid 1px #93b8d0;
	background-color: #fff;
}
.it-task-overview table tr td {
	padding: 5px;
}
div.it-task-overview-icon {
	width: 16px;
	height: 16px;
}
div.task-description {
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 15px 0px;
	border-width: 0px 0px 1px 0px !important;
}

/* DEBUG STYLES */
.debug-button button.x-btn-text {
	width: 150px;
	overflow: visible;
	text-align: left;
	background-position: 0 2px;
	background-repeat: no-repeat;
	padding-left:20px;
	padding-top:3px;
	padding-bottom:2px;
    padding-right:0;
}

/* TRACE STYLES */
table.debug-table {
	width: 100%;
	background-color: #fff;
}
table.debug-table th {
	padding: 2px;
	color: #fff;
	background-color: #2e72b6;
	font-weight: bold;
}
table.debug-table td {
	padding: 2px;
	vertical-align: top;
}

div.trace-process {
	padding: 10px;
}
div.trace-process h2 {
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
div.trace-process th {
	background-color: #ccc;
}

table.trace-sequence {
	border: 1px solid #ccc;
	margin: 5px;
	background-color: #fff;
}
table.trace-sequence th {
	color: #fff;
	font-size: smaller;
	text-align: center;
}
table.trace-sequence th.trace-active {
	background-color: #93b8d0;
}
table.trace-sequence th.trace-finished {
	background-color: #3a81ad;
}
table.trace-sequence td {
	vertical-align: top;
}
table.trace-parallel {
	border: 1px solid #ccc;
	margin: 5px;
	background-color: #fff;
}
table.trace-parallel th {
	color: #fff;
	font-size: smaller;
	text-align: center;
}
table.trace-parallel th.trace-active {
	background-color: #93b8d0;
}
table.trace-parallel th.trace-finished {
	background-color: #3a81ad;
}
div.trace-node {
	width: 150px;
	border: solid 1px #ccc;
	color: #000;
	font-size: smaller;
	margin: 5px;
	background-color: #fff;
}
div.trace-node-title {
	color: #fff;
	padding: 2px;
	text-align: center;
}
div.trace-node th {
	width: 75px;
	color: #000;
}

.trace-active {
	background-color: #93b8d0;
}
.trace-finished {
	background-color: #3a81ad;
}
.trace-inactive {
	background-color: #ccc;
}