@import 'css/WorkflowAdmin.css';

.welcome-itasks-example-collection > div {
	background-color: #76a2d0;
	max-width: 600px;
	border-radius: 5px;
	padding: 5px 10px;
}
.welcome-itasks-example-collection h1 {
	font-weight: normal;
	font-size: 32pt;
	color: #000;
}
