svg {
  border: 1px solid #999;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

rect {
  fill: #fff;
}

.node rect {
  fill: none;
}

.edge rect {
  fill: #fff;
}

.edge path {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

h1, h2 {
  color: #333;
}

textarea {
  width: 800px;
}

label {
  margin-top: 1em;
  display: block;
}

.box rect {
  stroke-width: 2px;
  stroke: #333;
}

.ellipse rect {
  stroke-width: 2px;
  stroke: #333;
}

.circle rect {
  stroke-width: 2px;
  stroke: #333;
}

.point rect {
  stroke-width: 2px;
  stroke: #333;
  fill: #000;
}

.triangle rect {
  stroke-width: 2px;
  stroke: #333;
}

.plaintext {
}

.diamond rect {
  stroke-width: 2px;
  stroke: #333;
}

.square rect {
  stroke-width: 2px;
  stroke: #333;
}

.error {
  color: red;
}
