text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  fill: #fff;
}

.node ellipse {
  fill: #fff;
}

.node circle {
  fill: #fff;
}

.edge rect {
  fill: #fff;
}

.edge path {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.box rect {
  stroke-width: 1.5px;
  stroke: #333;
}

.ellipse ellipse {
  stroke-width: 1.5px;
  stroke: #333;
}

.circle circle {
  stroke-width: 1.5px;
  stroke: #333;
}

.point circle {
  stroke-width: 1.5px;
  stroke: #333;
}

.triangle rect {
  stroke-width: 1.5px;
  stroke: #333;
}

.plaintext {
}

.diamond rect {
  stroke-width: 1.5px;
  stroke: #333;
}

.square rect {
  stroke-width: 1.5px;
  stroke: #333;
}

.error {
  color: red;
}
