.itwc-prompt {
	border: #999 solid;
	border-width: 0 0 1px 0;
	min-height: fit-content;
}
/* Styles for unlayouted content */
.itwc-raw-editor
	, .itwc-raw-compound-editor
	, .itwc-raw-compound-content
	, .itwc-raw-parallel
	, .itwc-raw-interact
	, .itwc-raw-step
	, .itwc-raw-window 
	, .itwc-raw-layers
	, .itwc-raw-form
	, .itwc-raw-form-item
	, .itwc-raw-block
	, .itwc-raw-blocks
{
		border: dashed 2px #ccc;
		padding: 5px 5px 5px 10px;
}
.itwc-raw-form {
	border: solid 2px #f33;
	background: #fee;
}
.itwc-raw-form-item {
	border: dashed 2px #f33;
	border-radius: 5px;
}
.itwc-raw-interact {
	border: solid 2px #f3f;
	background: #fef;
}
.itwc-raw-step {
	border: solid 2px #33f;
	background: #eef;
}
.itwc-raw-parallel {
	border: solid 2px #3f3;
	background: #efe;
}
.itwc-raw-empty {
	border: dashed 2px #eee;
	color: #ccc;
	font-style: italic;
}
.itwc-raw-action {
	border: solid 2px #000;
	padding: 5px 20px;
	border-radius: 5px;	
	color: #fff;
	font-weight: bold;
}
.itwc-action-enabled {
	background-color: #0f0;
}
.itwc-action-disabled {
	background-color: #f00;
}
/* Pure-css tooltips */
[tooltip] {
        position: relative;
        display: inline-block;
}
[tooltip]:before, [tooltip]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}
[tooltip]:hover:before, [tooltip]:hover:after, [tooltip]:focus:before, [tooltip]:focus:after {
    visibility: visible;
    opacity: 1;
}
[tooltip]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
[tooltip]:after {
    content: attr(tooltip);
    background: #ccc;
    color: #000;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
[tooltip]:before {
  border-left-color: #ccc;
  margin-right: -12px;
  margin-bottom: -6px;
}
[tooltip]:after {
  margin-bottom: -14px;
}
[tooltip]:before, [tooltip]:after {
  right: 100%;
  bottom: 50%;
}
[tooltip]:hover:after, [tooltip]:hover:before, [tooltip]:focus:after, [tooltip]:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
