/*
	Layout Styles of TaskTree Components
*/

/* Shared subject and description panels */
.TTCSubject {
	background-image : url('img/ttc-icons/TTCDescriptionBackground.png') !important;
	background-repeat: repeat-x;
	border: 1px solid #99BBE8;
	color: #000;
	margin: 10px 10px 0px 10px;
	font-weight: bold;
	padding: 5px;
}
.TTCDescription  {
	background-image : url('img/ttc-icons/TTCBackground80.png') !important;
	border: 1px solid #99BBE8;
	margin: 0px 10px 0px 10px;
	padding: 5px;
}
/* Form Container */
.TTCInformationContainer {
	background-color: #eee;
	
	background-image : url('img/ttc-icons/TTCFormContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}
.TTCInformationPanel {
	background-image : url('img/ttc-icons/TTCBackground80.png') !important;
	padding: 4px;
	border: solid #99bbe8;
	border-width: 0 1px 1px 1px;
	margin: 0px 10px 0px 10px;
}
/* Message Container */
.TTCMessageContainer {
	background-color: #eee;
	
	background-image : url('img/ttc-icons/TTCMessageContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}
.TTCMessagePanel {
	background-image : url('img/ttc-icons/TTCBackground80.png') !important;
	padding: 4px;
	border-left: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
	margin: 0px 0px 0px 10px;
	width: 700px;
	background-repeat: repeat;
}
/* Instruction Container */
.TTCInstructionContainer{
	background-color: #eee;
	
	background-image : url('img/ttc-icons/TTCInstructionContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}
.TTCInstructionContainer-Context {
	background-color: transparent;
	background-image : url('img/ttc-icons/TTCBackground90.png') !important;
	padding: 4px;
	border-left: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
	width: 700px;
	margin: 0px 0px 0px 10px;
	background-repeat: repeat;
}

/* Group Container */
.TTCGroupContainer {

}
.TTCGroupItemPanel {
	background-image: url('img/ttc-icons/TTCBackground90.png') !important;
}
.TTCGroupItemWindow .x-window-body {
	background-color: #eee;
}

.GroupContainer {
	/* background-color: #eee; */
}
.GroupFixed .x-plain-tbar {
	display: none;
}
.GroupFixedNoFocus .TTCSubject {
	background-image: url("img/ttc-icons/TTCDescriptionBackgroundNoFocus.png") !important;
	border:1px solid #ddd;
	color:#888899;
}

.GroupFloating .x-window-body {
	background-color: white;
}

.GroupFloating .GroupUnpinButton {
	display: none;
}
.GroupFloating .TTCDescription,
.GroupFloating .FormPanel,
.GroupFloating .ProcessControlPanel,
.GroupFloating .InstructionContainer-Text,
.GroupFloating .InstructionContainer-Context,
.GroupFloating .MessagePanel,
.GroupFloating .MonitorPanel {
	margin: 0px;
	border: none;
	width: auto;
}

.GroupFloating .TTCSubject {
	display: none;
}

.GroupFloating .ToolbarNoEnabledItems,
.GroupFloating .ToolbarGroupActionsOnly {
	display: none;
}

.x-window-maximized  .ToolbarGroupActionsOnly {
	display: block;
}

/* Process Control Container */
.TTCProcessControlContainer{
	background-color: #eee;
	
	background-image : url('img/ttc-icons/TTCProcessControlContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}

.TTCProcessControlPanel {
	background-image : url('img/ttc-icons/TTCBackground80.png') !important;
	padding: 4px;
	border-left: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
	margin: 0px 0px 0px 10px;
	width: 700px;
	background-repeat: repeat;
}

/* Parallel Container */
.TTCParallelControlContainer{
	background-color: #eee;
	
	background-image : url('img/ttc-icons/TTCParallelContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}
.TTCParallelControlPanel{
	border: solid #99BBE8;
	border-width: 0px 1px 1px 1px;
	margin: 0px 0px 0px 10px;
}

/* Result Container */
.TTCResultContainer {
	background-color: #eee;
	background-image : url('img/ttc-icons/TTCResultContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}

/* Monitor Container */
.TTCMonitorContainer {
	background-color: #eee;
	background-image : url('img/ttc-icons/TTCMessageContainer.png') !important;
	background-repeat: no-repeat ;
	background-position: 3px 3px;
}

.MonitorPanel {
	background-image : url('img/ttc-icons/TTCBackground80.png') !important;
	padding: 4px;
	border-left: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
	margin: 0px 0px 0px 10px;
	width: 700px;
	background-repeat: repeat;
}
